.container {
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  max-width: 1000px;
}

.card {
  border-width: thin;
  border-style: outset;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  height: fit-content;
  margin-bottom: 5px;
  background-color: lightgray;
}

.card:hover {
  transform: translateY(-0.10em);
  box-shadow: 3px 5px blueviolet ;
}

.card-text {
  font-size: large;
}

.bold-text {
  font-weight: bold;
}

.btn {
  margin-right: 5px;
  font-size: medium;
  height: 24px;
}

.btn.btn-right {
  float: right;
}

.btn:hover {
  background-color: blueviolet;
  color: black;
  border-radius: 5px;
  transform: translateY(-0.10em);
}

.text-center {
  text-align: center;
}

.small-input {
  height: 25px;
  width: 40%;
}

.large-input {
  width: 80%;
}

.extra-small-input {
  width: 6em;
}

.card-input {
  width: 80%;
}

.selected-input {
  background-color: inherit;
  border: none;
}

.selected-input:focus {
  background-color: white;
}

.text-right {
  float: right;
}

.large-checkbox {
  width: 24px;
  height: 24px;
}