
<div class="white-background">
  <h1 class="text-center">{{title}}</h1>

  <div>
    <span class="card card-large" *ngIf="(todoList.length == 0 || allComplete())">
      <div class="small-column"></div>
      <h4>All tasks are completed!</h4>
    </span>
    <span class="card card-large" *ngFor="let task of todoList">
      <div class="small-column">
        <button class="circle-link btn" *ngIf="!task.completed" (click)="completeTask(task)">Complete</button>
      </div>
      <h4 [ngStyle]="{'text-decoration': task.completed ? 'line-through' : 'none'}"> {{task.task}} </h4>
      <div class="spacer"></div>
      <button class="circle-link btn" (click)="removeTask(task)">X</button>
    </span>
    
  </div>
  
  <span class="card card-large">
    <div class="small-column"></div>
    <input type="text" class="large-input" #box (keyup.enter)="addTask(box.value); box.value=''" />
    <button class="circle-link btn" (click)="addTask(box.value); box.value=''">Add</button>
    <div class="spacer"></div>
  </span>
</div>
